<body style="background-color: lightgray;">
<h1>New Pokémon</h1>

<%= render 'form' %>

<%= link_to 'Back', pokemons_path %>


<br></br>
<br></br>
<br></br>
<div align="right"><form><a href=/pokedex/viewEntry><button type="button" style="background-color:white; font-size:15px" ><b>Back to View Entry</b></button ></a></form>
<div align="right"><form><a href=/pokedex><button type="button" style="background-color:white; font-size:15px" ><b>Main Menu</b></button ></a></form>


