<body style="background-color: lightgray;">
<center><h1><%= image_tag "pokeballg.gif"%>Welcome to Cory's Pokedex<%= image_tag "masterball.gif"%></h1></center>
<center><%= form_tag do%>
	<br></br>
	<form><a href=/pokemons/new><button type="button" style="background-color:red; font-size:15px"><b>Add Pokémon</b></button ></a></form>
	<br></br>
	<form><a href=/pokedex/viewPC><button type="button" style="background-color:black; color:white; font-size:15px"><b>View PC</b></button ></a></form>
	<br></br>
	<form><a href=/pokedex/viewEntry><button type="button" style="background-color:white; font-size:15px" ><b>View Pokémon Entry</b></button ></a></form>
	<br></br>
	<br></br>
	<form><a href=/pokedex/viewAllPokemon><button type="button" style="background-color:purple; color:white; font-size:15px" ><b>View all valid Pokemon</b></button ></a></form>
	<br></br>
	<form><a href=http://www.serebii.net><button type="button" style="background-color:black; color:white; font-size:15px" ><b>Learn more about pokemon!</b></button ></a></form>
	<br></br>
	<form><a href=/pokemons><button type="button" style="background-color:white; font-size:15px" ><b>Your current pokemon database</b></button ></a></form>

<%end%></center>
</body>
